.border {
	border: 1px solid black;
	border-collapse: collapse;
}

.mar {
	margin-top: 50px;
}
.top {
 	cursor: pointer;
    position: fixed;
    right: 10px;
    width: 50px;
    bottom: 10px;
    height: 50px;
    border: 2px solid black;
    border-radius: 50%;
    background: red;
    text-align: center;
}
.sticky{
	position: sticky;
    bottom: 0;
    background: #f7f7f7;
}